#! /usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%: ; dh $@

override_dh_auto_configure:
	version=$$( dpkg-parsechangelog --show-field=Version ) && \
	./configure --version | grep -Fq -- "$${version%%[-~]*}"
	dh_auto_configure -- --libdir='/lib/$(DEB_HOST_MULTIARCH)'

override_dh_install:
	find debian -name '*.la' -exec rm -- {} +
	dh_install
